
@{
    ViewData["Title"] = "ListaPersonagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Slide 1 (#34) -->
<section class="slide fade-6 kenBurns">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul>
                        <li class="fromRight">
                            <h1 class="ae-1 fromCenter">Projeto Feito com Asp.Net core 2.1</h1>
                            <p class="ae-2 fromCenter"><span class="opacity-8">Neste Projeto usei as Seguintes Tecnologias: </span></p>
                            <table>
                                <tr>
                        <li>  API Disponibilizada pela Marvel</li>
                        <li>
                            Asp.Net Core 2.1
                        </li>
                        <li>
                            Web Api
                        </li>
                        <li>
                            AutoMapper
                        </li>
                        <li>
                            Bootstrap
                        </li>
                        <li>Bootstrap</li>
                        <li>
                            HTML
                        </li>
                        <li>CSS</li>


                        </tr>
                        </table>
                        </li>
                        <!-- <li class="col-6-12">
                          <img class="ae-4" width="605" src="assets/img/iphones-34.png" alt="iPhones Thumbnail" data-action="zoom"/>
                        </li> -->
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(/images/Assets/img/background/img-34.jpg)"></div>
</section>
